Repository RedrockTeam/rrfe: changes, and which lefthook commands are due for each by the changed paths.
All: biome, biomeOther

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files} && git add .

biomeOther:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git add .

feat: new test
  packages/toolkit/README.md
  packages/toolkit/src/apiGenerate/__test__/parse.ts
  packages/toolkit/src/apiGenerate/remarkParse.ts
  packages/toolkit/src/node/cli.ts
Due: biome, biomeOther

fix: some error
  lefthook.yml
  packages/toolkit/src/apiGenerate/remarkParse.ts
  packages/toolkit/src/node/cli.ts
Due: biome

fix: adjust function structure
  packages/toolkit/src/apiGenerate/remarkParse.ts
Due: biome

fix: gitea ci
  packages/create-rrfe/src/fs.ts
  packages/create-rrfe/src/init.ts
  packages/create-rrfe/template/baseConfig/.gitea/workflows/dev.yaml
  packages/create-rrfe/template/baseConfig/.gitea/workflows/prod.yaml
  packages/create-rrfe/template/biome/.gitea/workflows/dev.yaml
  packages/create-rrfe/template/biome/.gitea/workflows/prod.yaml
Due: biome

feat: update version
  .npmrc
  packages/create-rrfe/CHANGELOG.md
  packages/create-rrfe/package.json
Due: biomeOther

fix: structure optimize
  lefthook.yml
  package.json
  packages/toolkit/src/apiGenerate/remarkParse.ts
Due: biome, biomeOther

fix: error
  package.json
Due: biomeOther

fix: delete space
  lefthook.yml
Due: none

refactor: new single test
  packages/toolkit/src/apiGenerate/__test__/parse.ts
  packages/toolkit/src/apiGenerate/__test__/test.md
Due: biome, biomeOther

refactor: new function to match
  packages/toolkit/src/apiGenerate/__test__/parse.ts
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx}
  biomeOther: any of: *.{json,md,html,css,scss,sass,less,styl}
